@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background: rgb(37, 55, 39);
  background: linear-gradient(
    0deg,
    rgba(37, 55, 39, 1) 1%,
    rgba(22, 52, 22, 1) 24%,
    rgba(12, 23, 21, 1) 100%
  );

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@layer components {
  .btn {
    @apply p-2 bg-gray-600 rounded hover:bg-gray-800;
  }
}
